/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1d0f17;
}

body {
  background: url(./components/img/Ellipse\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #27170c;
}

/*Remove scrollbar*/

::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  justify-content: center;
}

.section__content {
  margin-top: 4em;
  border-radius: 50px 50px 0 0;
  width: 85%;
  height: 100%;
  background-color: #27170c;
}

.banner {
  background: url("./components/img/Anne-with-an-E.jpg");
  background-size: 100%;
  border-radius: 50px 50px 0 0;
  background-repeat: no-repeat;
  border: solid 1px red;
}

.titulo {
  padding: 1.2em 0 0.5em 1em;
  /* padding-top: 10rem; */
  font-size: 120px;
}

.titulo__texto {
  padding: 0 0 6em 4em;
  font-size: 24px;
  border: solid 1px red;
}

.list__film {
  margin-top: 5rem;
  padding-left: 3.1em;
  display: flex;
  flex-wrap: wrap;
  gap: 6em;
  list-style: none;
}
.film {
  width: 300px;
}

footer p {
  font-size: 12px;
  text-align: center;
  /* margin-top: 20rem; */
  padding: 3.5em 0;
}
