/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #1d0f17;
  --white: #fff;
  --texto: #fffcf2;
  --yellow: #ff9f1c;
}

body {
  background: url(./components/img/Ellipse\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #1d0f17;
}

/*Remove scrollbar*/
::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  justify-content: center;
}
/* header */
.header__logo {
  padding-top: 2.5em;
  padding-left: 10em;
  background-repeat: no-repeat;
}

.section__content {
  margin-top: 3em;
  padding-bottom: 5em;
  border-radius: 50px 50px 0 0;
  width: 85%;
  height: 100%;
  background: linear-gradient(190deg, #613a1f -30%, #170d01 70%);
  background-color: #27170c;
}

/* Banner */
.banner {
  background: url("./components/img/Anne-with-an-E.jpg");
  background-size: 100%;
  border-radius: 50px 50px 0 0;
  background-repeat: no-repeat;
}

/* Conteudo do banner */
.banner__conteudo {
  color: var(--white);
  margin-left: 6em;
}

.titulo {
  padding-top: 1.5em;
  font-size: 150px;
}

.titulo__subtitulo {
  padding-left: 0.6em;
  font-weight: 300;
  font-size: 73px;
  margin-top: -1em;
}

.titulo__texto {
  padding: 0 0 9em;
  color: var(--texto);
  font-size: 20px;
}

/* lista de filmes */
.list__film {
  margin-top: 5rem;
  padding-left: 3.1em;
  display: flex;
  flex-wrap: wrap;
  gap: 6em;
  list-style: none;
}

.film {
  /* padding-left: 1em; */
  color: var(--texto);
  font-size: 11px;
  transition: transform 0.3s linear;
  opacity: 0.8;
}

.film:hover {
  transform: scale(1.2);
}

.titulo__film {
  width: 342px;
  font-size: 20px;
  padding: 0.5em 0 0.3em 0;
}

.release__date {
  font-size: 14px;
  padding-bottom: 1.9em;
}

/* Footer */
.footer p {
  font-size: 12px;
  text-align: center;
  color: var(--white);
  padding: 2.5em;
}
strong {
  color: var(--yellow);
  font-weight: 300;
}
